@charset "utf-8";
/* CSS Document */
body,ul,ol,li,form,table,tr,th,td,img,div,span,dl,dt,dd,input,textarea,select,button,p{margin:0;padding:0;}
img,input{border:none;}
ul{ list-style:none;}
body{background:#ffffff; color:#666666; font-size:12px; font-family:"宋体";}
select,input,img{vertical-align:middle;}
a,a:link,a:active,a:visited{ text-decoration:none; color:#666666; outline:0 none; }
a:hover{color:#ff9900; text-decoration:none;}
/*topcss*/
.top{ width:1000px; height:60px; margin:0 auto; padding:10px 0px;}
	.top_left{ width:520px; height:60px; float:left;}
	.top_right{ width:100px; height:35px; line-height:35px; float:right; padding:25px 0px 0px 0px; }	 
		.top_right a{ line-height:35px; font-family:"微软雅黑"; font-size:16px; font-weight:bolder; color:#fb8a46;}
	#nav{ width:1000px; height:51px; line-height:51px; margin:0 auto; position:relative; z-index:999;}
	#nav dl{ display:block; float:left; position:relative;}
	#nav dl dt{display:block; width:118px; height:51px; line-height:51px; font-family:"微软雅黑"; font-size:16px; font-weight:bolder; color:#333333; text-align:center; background:url(../images/navlibg.jpg) right center no-repeat;}
		.hover{ width:118px;  height:51px; background:url(../images/nav_hover.jpg) center center no-repeat; color:#ffffff;}
		#nav dl dd{ display:none; position:absolute; height:28px; padding-bottom:3px; width:500px; z-index:111; left:10px;  top:42px;  background:url(../images/navul_hover.png) left center no-repeat;}
		#nav dl dd ul li{display:block; font-size:12px; height:28px; line-height:28px; width:75px; text-align:center;  float:left; margin-left:1px; background:url(../images/nonebg.jpg) right center no-repeat;}
		#nav dl dd ul li a{display:block; color:#666666; font-weight:normal; height:28px; line-height:28px; width:75px; float:left;}
	a.white,a.white:link,a.white:active,a.white:visited{ display:block; display:block; width:118px; height:51px; line-height:51px; font-family:"微软雅黑"; font-size:16px; font-weight:bolder; color:#333333; text-align:center;}
	a.white:hover{background:url(../images/nav_hover.jpg) center center no-repeat; color:#ffffff;}
   	a.white_hover,a.white_hover:link,a.white_hover:hover,a.white_hover:active,a.white_hover:visited{ display:block; display:block; width:118px; height:51px; line-height:51px; font-family:"微软雅黑"; font-size:16px; font-weight:bolder; background:url(../images/nav_hover.jpg) center center no-repeat; color:#ffffff; text-align:center;}
/*bottom_css*/
.bottombg{ width:100%; height:95px; background:#efefef; margin-top:10px;}
	.bottom{ width:1000px; height:95px; margin:0 auto; background:url(../images/botton_logo.jpg) 10px center no-repeat;  }
		.bottom ul{ padding:10px 10px 0px 630px;}
		.bottom ul li{ height:25px; line-height:25px; color:#666666;}